<div class="center jumbotron">
  <h1>Bienvenido</h1>
  <h2>Inicio de aplicación.</h2>
  <p><a href="http://www.railstutorial.org/">Tutorial de Ruby on Rails</a></p>

  <%= link_to "Regístrate", signup_path, class: "btn btn-lg btn-primary" %>
</div>

<%= link_to image_tag("rails.svg", alt: "Rails logo"), 'http://rubyonrails.org/' %>

<%#= link_to image_tag("kitten.jpg", alt: "gato"), 'http://rubyonrails.org/' %>